@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}
.github__btnWrap {
  box-shadow: 0 10px 14px 8px #0952a5;
}
.github__btn {
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(140deg, #06b7db, #ff4ecd, #0072f5);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #000 inset;
}
.github__btn:hover {
  box-shadow: none;
}

.page__loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #2563eb;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 700ms linear infinite;
  margin: auto;
}
.post__loader {
  border: 4px solid #ffffff;
  border-top: 4px solid transparent;
  background-color: transparent;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 800ms linear infinite;
  margin: auto;
}

.like__loader {
  border: 2px solid #f31260;
  border-top: 2px solid transparent;
  background-color: transparent;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 800ms linear infinite;
  margin: auto;
}
.delete__dots {
  fill: #fff;
  stroke: #fff;
}
.spinner_S1WN {
  animation: spinner_MGfb 0.8s linear infinite;
  animation-delay: -0.8s;
}
.spinner_Km9P {
  animation-delay: -0.65s;
}
.spinner_JApP {
  animation-delay: -0.5s;
}
@keyframes spinner_MGfb {
  93.75%,
  100% {
    opacity: 0.2;
  }
}

.close__icon > path {
  stroke: rgba(255, 255, 255, 0.7);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
